/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-attachment: fixed;
  background-image: repeating-linear-gradient(
      0deg,
      var(--background-color, #d3d3d3) 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      90deg,
      var(--background-color, #d3d3d3) 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      180deg,
      var(--gradient-first-color, #e7e7e7) 0.01%,
      var(--gradient-second-color, #1a1a1a) 100%
    );
  background-position: center;
  background-size: cover;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  background-color: var(--themes-background, #fff);
  color: var(--themes-main-color);
}

.header {
  font-family: "Press Start 2P", sans-serif;
  font-size: 23px;
  max-inline-size: 700px;
  width: 100%;
  margin-block-start: 100px;
  margin-block-end: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--themes-background, #fff);
  border: 2px solid var(--themes-main-color, #000);
}

.header__title {
  font-family: "Press Start 2P", sans-serif;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-weight: 400;
  margin-bottom: 18px;
}

.header__text {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  margin-bottom: 22px;
}

.header__wrapper {
  padding-block-start: 136px;
  padding-block-end: 23px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.theme-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.theme-menu__button {
  display: flex;
  list-style-type: none;
  border: transparent;
  background-color: transparent;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:focus-visible::before {
  opacity: 0.6;
  scale: 1;
  transform-origin: 0%;
  transition: 0.3s ease;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s ease;
}

.theme-menu__button::before {
  position: relative;
  animation: 0.5s ease-in-out infinite alternate arrow-move;
  block-size: 14px;
  content: "▶";
  inline-size: 13px;
  margin-right: 6px;
  visibility: hidden;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  visibility: visible;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.main {
  max-inline-size: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.section__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.card {
  border: solid 2px var(--themes-main-color);
  background-color: var(--themes-background);
}

.card__title {
  padding: 5px 24px 5px 10px;
  font-size: 18px;
  font-style: normal;
  font-weight: 785;
  line-height: normal;
}

.card-container {
  border-block-start: 2px solid var(--themes-main-color);
  border-block-end: 2px solid var(--themes-main-color);
}

.card__about-text {
  color: var(--themes-main-color, #000);
  font-family: var(--main-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 116.667% */
}

.card__content {
  position: relative;
}

.watermark::before {
  position: absolute;
  z-index: 1;
  content: "";
  font-family: var(--accent-font);
  color: var(--themes-main-color, #000);
  font-size: 14px;
  inset-block-start: 25px;
  inset-inline-end: 25px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: 1px 1px var(--themes-background, #fff),
    -1px -1px var(--themes-background, #fff),
    -1px 1px var(--themes-background, #fff),
    1px -1px var(--themes-background, #fff);
}

.watermark-html::before {
  content: "</HTML>";
}

.watermark-css::before {
  content: "<css>";
}

.watermark-desigions::before {
  content: "<desigions>";
}

.watermark-care::before {
  content: "care";
}

.watermark-support::before {
  content: "<support>";
}

.watermark-lifes-style-none::before {
  content: "<lifes-style: none;>";
}

.watermark-experience::before {
  content: "<experience>";
}

.card-container {
  display: flex;
}

.card-image {
  aspect-ratio: 1/1;
  max-inline-size: 100%;
  height: auto;
  object-fit: cover;
  object-position: 96%;
}

.card-image-begin {
  filter: saturate(20%) brightness(1.2);
}

.card-image-what-if {
  filter: saturate(350%);
}

.card-image-follow-ideal {
  filter: hue-rotate(30deg);
}

.card-image-those-near {
  filter: invert(80%);
}

.card-image-bypass {
  filter: sepia(90%) grayscale(10%);
}

.card-image-despair {
  filter: blur(20px);
}

.card-image-now {
  filter: saturate(250%) hue-rotate(110deg) contrast(50%) blur(2px);
}

.card__about {
  display: grid;
  gap: 25px;
  padding: 25px;
}

.card__about-wrapper p:not(:last-child) {
  margin-bottom: 27px;
}

.card__icon-button-wrapper {
  display: flex;
  justify-content: right;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}

.card__icon-button {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border: none;
  background-color: var(--themes-background, #fff);
  outline: 2px solid transparent;
}

.card__like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--themes-main-color);
  background-color: var(--themes-background, #fff);
  block-size: 38px;
  box-shadow: inset 0 0 0 0 var(--themes-main-color, #000);
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  inline-size: 130px;
  line-height: normal;
  transition: 0.5s ease-in-out;
}

.like-icon {
  position: relative;
  inset-inline-start: 1px;
}

.card__icon-button:focus .like-icon {
  outline: none;
}

.card__icon-button:focus-visible .like-icon {
  outline: 2px solid var(--themes-main-color, #000);
  transition: 0.3s ease;
}

.like-icon:hover {
  cursor: pointer;
}

.like-icon:hover .main-body {
  fill: var(--themes-background, #fff);
  stroke: var(--themes-background, #fff);
  transition: 0.3s ease-in-out 0.05s;
}

.like-icon:active .main-body {
  fill: var(--themes-main-color, #000);
  stroke: var(--themes-main-color, #000);
  transition: 0.3s ease-in-out;
}

.sparks {
  opacity: 0;
}

.contour {
  fill: var(--themes-main-color, #000);
}

.core {
  fill: var(--themes-background, #fff);
  transition: 0.3s ease-in-out;
}

.like-icon:hover .core {
  fill: var(--themes-main-color, #000);
  transition: 0.3s ease-in-out 0.03s;
}

.like-icon:active .core {
  fill: #ff0000;
  transition: 0.3s ease-in-out;
}

.main-body {
  fill: var(--themes-background, #fff);
  stroke: var(--themes-background, #fff);
  transition: 0.3s ease-in-out;
}

.like-icon:hover .main-body {
  fill: var(--themes-main-color, #000);
  stroke: var(--themes-main-color, #000);
  transition: 0.3s ease-in-out 0.05s;
}

.like-icon:active .main-body {
  fill: #ff0000;
  stroke: #ff0000;
  transition: 0.3s ease-in-out 0.05s;
}

.like-icon.is-liked .core {
  fill: #ff0000;
}

.like-icon.is-liked .main-body {
  fill: #ff0000;
  stroke: #ff0000;
}

.like-icon.is-liked .contour {
  fill: #ff0000;
  stroke: #ff0000;
  transition: 0.3s ease-in-out 0.06s;
}

.like-icon.is-liked .heart {
  animation: 0.3s ease-in 0.1s alternate like-heart;
  fill: #ff0000;
  stroke: #ff0000;
  transform-origin: 50%;
}

.like-icon.is-liked .sparks {
  animation: 0.3s ease-in 0.3s alternate like-heart-fill;
}

.button-like:focus {
  outline: none;
}

.button-like:hover {
  box-shadow: inset 130px 0 0 0 var(--themes-main-color, #000);
  color: var(--themes-background, #fff);
  cursor: pointer;
}

.button-like:focus-visible {
  box-shadow: var(--themes-main-color, #000) 2px 2px;
  color: var(--themes-main-color, #000);
}

.button__text {
  color: var(--themes-main-color, #000);
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 12.6px */
  transition: 0.5s ease-in-out;
}

.button-like:hover .button__text {
  color: var(--themes-background, #fff);
}

.button__save-wrapper {
  display: flex;
  justify-content: center;
  background-color: transparent;
  padding-block-end: 105px;
  padding-inline: 2px;
}

.button-save {
  display: flex;
  width: 335px;
  min-height: 51px;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--themes-main-color);
  background-color: var(--themes-background);
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  gap: 8px;
  transition: 0.5s ease-in-out;
}

.button-save:hover {
  box-shadow: inset 335px 0 0 0 var(--themes-main-color, #000);
  color: var(--themes-background, #fff);
  cursor: pointer;
}

.button-save:hover .button-save-text{
  color: var(--themes-background, #fff);
}


.button-save:focus {
  outline: none;
}

.button-save:focus-visible {
  box-shadow: var(--themes-main-color, #000) 2px 2px;
  color: var(--themes-main-color, #000);
}

.svg-floppy {
  block-size: 21px;
  inline-size: 21px;
}

.button-save-text{
  display: flex;
  transition: 0.5s ease-in-out;
}

.dialog {
  position: fixed;
  overflow: hidden;
  border: none;
  min-block-size: 192px;
  inline-size: 356px;
  padding: 0;
  inset: 0;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--themes-main-color, #000);
  background-color: var(--themes-background, #fff);
  block-size: 193px;
  font-family: var(--accent-font);
  inline-size: 357px;
  padding-block: 30px;
  padding-inline: 30px;
}

.dialog-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dialog__title-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog-svg-floppy {
  block-size: 39px;
  inline-size: 39px;
  color: var(--themes-main-color, #000);
}

.dialog__title {
  color: var(--themes-main-color, #000);
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  text-transform: uppercase;
  max-width: 234px;
}

.dialog-form {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  color: var(--themes-main-color, #000);
}

.dialog__button {
  display: flex;
  width: 293px;
  min-height: 38px;
  padding: 9px 17px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 2px solid var(--themes-main-color, #000);
  background-color: var(--themes-background);
  color: var(--themes-main-color);
  text-transform: uppercase;
  font-size: 14px;
}

.dialog__button:hover {
  cursor: pointer;
}

@media (width<=375px) {
  .header {
    gap: 22px;
    min-block-size: 323px;
    min-inline-size: 375px;
  }

  .header__wrapper {
    padding-block-start: 115px;
    padding-block-end: 15px;
  }

  .header__title {
    margin-bottom: 15px;
  }

  .theme-menu__list {
    padding-block-end: 8px;
  }

  .card {
    inline-size: 375px;
  }

  .button__save-wrapper {
    padding-block-end: 100px;
  }

  .watermark::before {
    inset-inline-end: 11px;
  }

  .button-save {
    min-block-size: 84px;
    gap: 8px;
    padding-block-end: 0;
    flex-direction: column;
    align-self: center;
  }

  .svg-floppy {
    block-size: 28px;
    inline-size: 28px;
  }

  .dialog-wrapper {
    min-block-size: 195px;
    inline-size: 341px;
    padding-inline: 40px;
  }

  .dialog__title {
    inline-size: 198px;
  }
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .watermark::before {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--themes-background, #fff);
  }
}

@supports (
  (font-variation-settings: "wght" var(--font-main-weight)) or
    (font-variation-settings: "wght" normal)
) {
  .page {
    font-variation-settings: "wght" var(--font-main-weight);
  }
}
