/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-light {
  --themes-main-color: #000;
  --themes-background: #fff;
  --gradient-first-color: #e7e7e7;
  --gradient-second-color: #1a1a1a;
  --background-color: #d3d3d3;
}

@media (prefers-color-scheme: light) {
  :root {
    --themes-main-color: #000;
    --themes-background: #fff;
    --gradient-first-color: #e7e7e7;
    --gradient-second-color: #1a1a1a;
    --background-color: #d3d3d3;
  }
}

:root.theme-dark {
  --themes-main-color: #00cc14;
  --themes-background: #000000;
  --gradient-first-color: #007f0c;
  --gradient-second-color: #004306;
  --background-color: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --themes-main-color: #00cc14;
    --themes-background: #000000;
    --gradient-first-color: #007f0c;
    --gradient-second-color: #004306;
    --background-color: #000;
  }
}
